body {
    margin: 0;
    padding: 0;
}

.home {
    color: teal;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    Justify-content: center;
    background: #012;
    margin-bottom: 25px;
}

.hero-content h1{
    font-size: 30px;
    color: teal;
    margin: 10px;
}

.hero-content p{
    font-size: 15px;
    color: teal;
    margin: 10px;
}

.hero-content img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.hero-icons a{
    display: inline-block;
    text-decoration: none;
    margin: 5px;
}

.hero-icons a img{
    width: 32px;
}


.hero-links {
    margin: 10px;
}

.hero-links .btn{
    font-size: 15px;
    font-weight: bold;
    color: #012;
    background: teal;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

#about {
    display: flex;
    align-items: center;
    text-align: center;
    Justify-content: center;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 30px;
}

.about h1{
    text-align: center;
    font-size: 30px;
}

.about img{
    width: 40px;
    height: 40px;
}

.about-details {
    margin: 50px;
    padding: 30px;
}

.skills-details {
    margin: 50px;
    padding: 30px;
}

#projects {
    display: flex;
    align-items: center;
    text-align: center;
    Justify-content: center;
    margin: 35px;
}

.projects h1{
    font-size: 30px;
}

.projects h2{
    font-size: 20px;
}

.projects .imgs img{
  width: 60%;
}

.projects .content img{
    margin: 10px;
    width: 40px;
    height: 40px;
}

.projects .content p{
    margin: 20px;
}

.projects .project-link {
    font-weight: bold;
    color: #012;
    background: teal;
    text-decoration: none;
    border: 1px solid teal;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}


.footer {
    background: #012;
    padding: 10px;
    margin-top: 100px;
    text-align: center;
    color: teal;
}

.footer a {
    text-decoration: none;
    color: teal;
}

@media only screen and (max-width: 780px) {
  
  .about-details {
    margin: 30px;
    padding: 20px;
}

.skills-details {
    margin: 30px;
    padding: 20px;
}


  #projects {
    display: flex;
    align-items: center;
    text-align: center;
    Justify-content: center;
    margin: 15px;
}

.projects h1{
    font-size: 30px;
}

.projects h2{
    font-size: 20px;
}

.projects .imgs img{
    width: 90%;
}

.projects .content img{
    margin: 10px;
    width: 40px;
    height: 40px;
}

.projects .content p{
    margin: 20px;
}

.projects .project-link {
    font-weight: bold;
    color: #012;
    background: teal;
    text-decoration: none;
    border: 1px solid teal;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}
}


