@import url(https://fonts.googleapis.com/css?family=Nunito+Sans);
@import url(https://fonts.googleapis.com/css?family=Rubik);

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1.5;
    color: #555;
    font-family: 'Nunito Sans', sans-serif;
}

.home {
    color: teal;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    Justify-content: center;
    background: #012;
    margin-bottom: 25px;
    z-index: 1;
}

.hero-content h1{
    font-size: 30px;
    color: teal;
    margin: 10px;
}

.hero-content p{
    font-size: 15px;
    color: teal;
    margin: 10px;
}

.hero-icons a{
    display: inline-block;
    text-decoration: none;
    margin: 5px;
}

.hero-icons a img{
    width: 32px;
}


.hero-links {
    margin: 10px;
}

.hero-links .btn{
    font-size: 15px;
    font-weight: bold;
    color: #012;
    background: teal;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

#about {
    display: flex;
    align-items: center;
    text-align: center;
    Justify-content: center;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 30px;
}
.about img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.about h1{
    text-align: center;
    font-size: 30px;
}

.about-details {
    margin: 50px;
    padding: 30px;
}

.skills-details {
    margin: 50px;
    padding: 30px;
}

.skills img{
    width: 40px;
    height: 40px;
}

#projects {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}
. projects h1 {
    text-align: center;
    margin: 15px;
}
.project-details {
    margin: 20px auto;
}
.img-left img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.img-right img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 20px;
}

.content-right img {
    width: 32px;
    height: 32px;
}

.content-left img {
    width: 32px;
    height: 32px;
}
.project-details .project-link {
    font-weight: bold;
    color: #012;
    background: teal;
    text-decoration: none;
    border: 1px solid teal;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}


.footer {
    background: #012;
    padding: 10px;
    margin-top: 100px;
    text-align: center;
    color: teal;
}

.footer a {
    text-decoration: none;
    color: teal;
}

@media only screen and (max-width: 780px) {
  
  .about-details {
    margin: 30px;
    padding: 20px;
}

.skills-details {
    margin: 30px;
    padding: 20px;
}


}
@media only screen and (min-width:550px) {

     .content-left {
        margin-left: 0;
        width: 48%;
    }

    
    .content-right,
    .img-right {
        float: right;
        width: 48%;
    }

    .img-right img {
        float: right;
        margin-top: 80px;
    }
    
    .content-left,
    .img-left {
        float: left;
        width: 48%;
    }

    .img-left img {
        float: left;
        margin-top: 30px;
    }
}

